.header {
    color: var(--text-color);
}

.text {
    color: var(--primary-color);
}

.box {
    width: 300px;
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    background-color: var(--background-color-light);
}
